body{
  background-image: url("../Img/IMG_0770.PNG");
  background-size: cover;
  background-attachment: fixed;
}

.navbar-brand{
  font-family: 'Lobster', fantasy;
  font-size: 1.75em;
}

.form-row{

  padding: 5px;
}

label{
  font-family: 'Kaushan Script', fantasy;
  font-size: 2em;
  color: black;
  text-shadow: 1px 1px #ffffff;
}

.card{
  border: 3px inset #8200ff;
}

.foot{
  font-family: 'Kaushan Script', fantasy;
  font-size: 1.125em;
  background-color: aliceblue;
}